@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="currentTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudLayout>
        <!-- Barra superior -->
        <MudAppBar Elevation="1" Color="Color.Surface">
            <!-- Botão de menu (visível apenas em telas pequenas) -->
            <MudIconButton Icon="@Icons.Material.Filled.Menu"
                           Color="Color.Primary"
                           Edge="Edge.Start"
                           Class="mud-hidden-md-up"
                           OnClick="@ToggleDrawer" />

            <!-- Logo -->
            <MudImage Src="images/logo-screensound.png"
                      Alt="Logo ScreenSound"
                      Width="150"
                      Class="ml-2" />

            <MudSpacer />

            <!-- Perfil do usuário -->
            <AuthorizeView>
                <Authorized>
                    <div class="d-flex align-center gap-2 mr-4">
                        <MudText Typo="Typo.subtitle1" Class="d-none d-md-block mr-2">
                            Olá, <b>@context.User.Identity?.Name?.Split('@').FirstOrDefault()</b>
                        </MudText>
                        <MudAvatar Color="Color.Default">
                            <MudIconButton Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Primary"/>
                        </MudAvatar>
                    </div>
                    
                    <MudButton Class="ml-4 d-none d-md-block" Href="logout"
                               Variant="Variant.Filled"
                               Color="Color.Error">Sair</MudButton>
                    
                    <MudIconButton Icon="@Icons.Material.Filled.Logout"
                                   Color="Color.Error"
                                   Href="logout"
                                   Class="d-md-none ml-1"/>
                </Authorized>
                <NotAuthorized>
                    <MudButton Class="ml-4" Href="login"
                               Variant="Variant.Outlined"
                               Color="Color.Primary">Entrar</MudButton>
                </NotAuthorized>
            </AuthorizeView>
        </MudAppBar>

        <!-- Menu lateral -->
        <MudDrawer @bind-Open="_drawerOpen"
                   Elevation="2"
                   ClipMode="DrawerClipMode.Always"
                   Variant="@_drawerVariant"
                   Class="pa-2">
            <NavMenu />
        </MudDrawer>

        <!-- Conteúdo principal -->
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</MudLayout>

@code {
    private bool _drawerOpen = true;
    private DrawerVariant _drawerVariant = DrawerVariant.Responsive;

    private MudTheme currentTheme = new MudTheme()
    {
        PaletteDark = ScreendsoundPallete.CreatePallete
    };

    private void ToggleDrawer() => _drawerOpen = !_drawerOpen;
}